.trips {
  table tr {
    td:first-child {
      text-align: right;
      width: 14em;
    }
  }
}

.trip {
  h2 {
    margin-top: 10px;
  }

  .enroute {
    border-left: 0.05rem dashed #dadee4;
    margin: 5px;
    padding: 5px;
  }
}

form.trip {
  padding: 10px;
  .form-select {
    width: auto;
  }
}
