.waypoint-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 48px);

  div[data-waypoints-target] {
    height: 100%;
  }
}

form.waypoint {
  input[type='text'] {
    width: 100%;
  }
  input[type='number'] {
    width: 4em;
  }
}

.pois-container {
  height: calc(100vh - 48px);
  overflow: auto;

  ul.pois {
    list-style-type: none;
    margin: 0;

    li {
      border-bottom: 1px solid rgb(170, 170, 170);
      cursor: pointer;
      padding-bottom: 10px;
    }
  }
}
