<header class="navbar">
  <section class="navbar-section">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to 'TRS', '/' %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to @trip.name, @trip %>
      </li>
      <li class="breadcrumb-item">
        編集
      </li>
    </ul>
  </section>
</header>

<%= render "form", trip: @trip %>

<div class="destroy-button">
  <%= button_to @trip, method: :delete, class: 'btn' do %>
    <span class="material-icons-outlined">delete</span>
  <% end %>
</div>
