<p id="notice"><%= notice %></p>

<h1>Waypoint</h1>

<%= turbo_frame_tag :waypoints do %>
  <div id="waypoints">
    <%= render @waypoints %>
  </div>

  <%= link_to "New waypoint", new_trip_day_waypoint_path([@trip, @day]), target: '_top' %>
<% end %>
