<%= turbo_stream.update 'pois' do %>
  <ul data-controller="poi-search" class="pois">
    <% @pois.each do |poi| %>
      <li
        data-poi-search-target="poi"
        data-lat="<%= poi['lat'] %>"
        data-lon="<%= poi['lon'] %>"><%= poi['display_name'] %></li>
    <% end %>
  </ul>
<% end %>
