<% content_for(:title) { "日程の追加 - #{@trip.name}" } %>

<header class="navbar">
  <section class="navbar-section">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to 'TRS', '/' %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to @trip.name, @trip %>
      </li>
      <li class="breadcrumb-item">
        日程の追加
      </li>
    </ul>
  </section>
</header>

<%= render "form", trip: @trip, day: @day %>
