name: Ruby

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  rubocop:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Ruby, JRuby and TruffleRuby
        uses: ruby/setup-ruby@v1.219.0
      - name: Install dependencies
        run: bundle install
      - name: Run RuboCop
        run: bundle exec rubocop

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Ruby, JRuby and TruffleRuby
        uses: ruby/setup-ruby@v1.219.0
      - name: Install dependencies
        run: bundle install
      - name: Precompile assets
        run: bundle exec rails assets:precompile
      - name: Run tests
        run: bundle exec rspec --exclude-pattern 'spec/system/**'
